.custom-card{
    margin: auto;
    max-width: 500px;
    margin-bottom: 15px;
}

.header-image {
    background-size: cover;
  }

.input-full-width{
    width: 100%;

}

.card-button{
    text-align: center;
}